/* Simple reset code and sets font for the HTML Document */
body,html{
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding:0;
    color: white;
}

/* Adds a fixed background to the web page */
body{
    background-image: url(../images/background_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Sets position and appearance of the nav bar at the top of the screen */
nav{
    position: fixed;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:5px;

    justify-content: space-between;
    background-color: #1A1A1A;
    height: fit-content;
    width: 98%;
    border-radius: 5px;
}

/* Removes styling from links and changes default link color */
a{
    text-decoration: none;
    color: white;
}

/* Changes links to orange when hovered */
a:hover{
    color: #FA5F1A;
    cursor: pointer;
}

/* Places list items adjacent for the nav and the footer */
nav > ul, nav > ul > li, footer > ul, footer > ul > li,.logo, .nav-links {
    display: inline;
}


/* Creates spacing between subsequent list items for the nav and footer */
li{
    padding: 10px;
}

/* Sets positioning for main sections of the web page */
header, nav{
    display: flex;
    align-items: center;
}

/* Centers nameplate and other content in the header */
header{
    justify-content: center;
    z-index: 1000;
}

/* General styling rules for article elements */
article{
    padding: 10px 15px;
    background-color: #1a1a1a65;
}

/* Sizing for logo */
.logo{
    margin: 10px;
    height: 40px;
    width: auto;
}

/* Extra padding for navbar links */
.nav-links{
    padding: 15px;
}

/* Creates space for name plate and background to show before subsequent page content */
.hero-page{
    height: 50%;
}

/* Adds flex to multiple content-concerned classes */
.personal-info, .projects, .thumbnail, .project-subsection{
    display: flex;
    align-items: center;
}

/* Centers content in sections of web page */
.thumbnail {
    justify-content: center;
}

/* Styline for name plate with photo displayed in the middle of the webpage */
.personal-info{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px;
    border-radius: 5px;
}

/* Styling for name */
.name{
    display: inline;
    padding: 10px 10px 7px 10px;
    font-family: 'Courier Prime';
    line-height: 1;
    font-size: 36px;
    color: #ffffff;
}

/* Display for content in about me section which centers the content in the web page */
#about-me{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Styles the content in the about me section */
.about-section{
    width: 50%;
    background-color: #1A1A1A;
    border-radius: 10px;
    padding: 20px;
}

/* About section header size */
.about-section h1{
    font-size: xx-large;
}

/* Defines size and layout of project tiles */
.projects{
    flex-flow: row;
    min-height: fit-content;
    height: 350px;
    border-radius: 20px;
    margin: 10px;

}

/* Allows background of project tile to become solid when a user hovers over it */
.projects:hover{
    background-color: #1A1A1A;
}

/* Changes the title of the project to orange when the user hovers over the project tile */
.projects:hover h1{
    color: #FA5F1A;
}

/* Minor styling for project tiles */
.thumbnail{
    overflow: hidden;
    margin: 10px;
}

/* Defines responsive image sizing for project tiles */
.thumbnail img{
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%;
    max-height: 300px; 
    border-radius: 10px;
    opacity: 0.65;
}

/* Helps show the image of a project tile is a clickable link */
.thumbnail img:hover{
    cursor: pointer;
    opacity: 1;
}

/* Defines written content size for project tiles */
.project-description{
    width: 50%;
}

/* Separates some project tiles into columns */
.project-subsection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 2;
    width: 100%
}

/* Fixing for project tiles sorted in columns */
.project-subsection .projects{
    width: 47.25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Positioning for project tiles */
#projects-section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
}

/* Header Project Styling */
#header-project{
    margin-left: 10px;
    margin-right: 10px;
}

/* Sizing and shape of personal image */
#display-pic{
    height: 80px;
    width: auto;
    border-radius: 40px;
    margin: 15px;    
}

/* Content layout for footer */
#contact-info{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    background-color: #1A1A1A;
}


/* Corrents layout of project tiles when viewport gets too small */
@media screen and (max-width: 1700px){

    .project-subsection{
        flex-flow: column;
        width: 100%;
    }

    .project-subsection .projects{
        width: 90%;
    }

    .projects{
        flex-flow: column;
        height: fit-content;
        width: 90%;
    }

    .thumbnail img{
        max-width: 100%;
    }

    
}

/* Makes the footer display more pretty at smaller screen widths */
@media screen and (max-width: 812px){
    #contact-info{
        justify-content: left;
    }
    
    footer li{
        display: block;
    }

}
